/* 静态文件导入 自定义样式*/

#theme-fukasawa .sideLeft hr{
    opacity: .04;
}
.fa-info:before {
    content: "\f05a";
}

/* quote-link to button */

.notion-quote:has(.notion-link){
    text-align: center;
    border-radius: 0px;
    border-color: transparent;
    border-left-color: transparent;
    background-color: transparent;
    width: 90%;
    white-space: initial;
    word-break: break-word;
    border-left: 0px;
    padding: 0.2em 0.9em;
    margin: 6px 6px 6px 6px;
    font-size: 1.2em;
    margin: 0 auto;
    
  }

 .notion-quote .notion-link {
    display: inline-block;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    margin: 6px 6px 6px 0;
    font-size: 0.75em;
    font-weight: bold;
    width: 120px; /* Set a fixed width */
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border-radius: 10px;
  }

  .notion-quote .notion-link:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
  }


/* quote-quote to boxshape */

 .notion-quote .notion-quote {
    margin-block: -1.75em;
    max-block-size: 0em;
    border-color: transparent;
    border-left-color: transparent;
    background-color: transparent;
  }

 .notion-quote:has(.notion-quote) {
    border-left-color: transparent;
    border-left: 0px solid;
    padding: .9em .9em;
  }


/* mermaid related css */
/*
pre[class*="language-mermaid"] {
    background-color: transparent !important;
}
*/
.code-toolbar>.toolbar {
    display:none;
}

.pre-mac {
    display: none;
}


/* heo theme */

#banner-title {
  z-index: 1;
}
#banner-cover {
  z-index: 2;
}


/* hide for gallery in daxiyanwo */
.notion-block-de06b78ad7eb4a6db97e1e89ce969fdd .notion-collection-card-property:first-child {
    display:none;
}
.notion-block-de06b78ad7eb4a6db97e1e89ce969fdd {
    border-top: none;
}
